<html>
<head>
  <title>eBay</title>
  <meta charset="utf-8">
  
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="angularjs/home.js"></script> 
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/home.css' /> 
  
</head>
<style type="text/css" media="screen">

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
    background: #f1f1f1;
}

.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.sticker-new {
    background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
    left: auto;
    right: 0;
}
.pi-img-wrapper {
    position: relative;
}
.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 30%;
    height: 30%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}

.product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.product-item h3 a {
    color: #3e4d5c;
}
.product-item h3 a:hover {
    color: #E02222;
}
.pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
.product-item .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
}
        .product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }

  
</style>
<body ng-app="myApp" ng-controller="home" class="container-fluid" style="padding:0px;">
<div  class="main" >
<nav class="navbar" style="border: none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/ebay.png" class="img-rounded" alt="ebay" width="80" height="50">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/profile">{{username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile">Buy/Sell details</a></li>
          </ul>
        </li>
        <li><a href="/cart">cart</a></li>
        <li><a href="/sell">Sell</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><span  class="btn" ng-click="signcheck()">{{sign}}</span></li>
      </ul>
    </div>
  </div>
</nav>
</div>


 <div class=" box alert alert-danger" ng-hide="time">
            <strong style="color: green">Your last Logged-in time : {{login_time}}</strong>
  </div>
  

<div class="container">
<div class = "page" ng-controller="cataLouge" style="margin:20px;">
    <div class="row">
        <div class="col-md-4" ng-repeat="x in list">
            <div class="product-item">
              <div class="pi-img-wrapper">
               <a href="/item?id={{x.item_id}}"> <img src="images/k1.jpg" class="img-responsive" alt="Berry Lace Dress">    </a>         
              </div>
              <h3><a href="/item?id={{x.item_id}}">{{x.item}}</a></h3>
              <div class="pi-price">{{x.price | currency}}</div>
              <div class="sticker sticker-new"></div>
            </div>
        </div>       
        
    </div>
</div>
<br>
<br>

<br>
<br>

</body>

</html>